.Home {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 8fr 45fr 8fr;
  grid-template-areas: ". word  ." ".  list   ." ".  add .";
  ul{
    grid-area:list;
  }
  form{
    grid-area:add;
  }
}
